<!--
If you want to include any custom html just before </head>, put it in this file.
Or you can delete these file if you don't need it.
-->
{{ $opts := dict "transpiler" "libsass" "targetPath" "css/tsosi_custom.css" }}
{{ with resources.Get "sass/tsosi_custom.scss" | toCSS $opts | minify }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" crossorigin="anonymous">
{{ end }}

<!-- Additional icons -->
<link rel="shortcut icon" href="favicon.ico" />
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="48x48" href="/img/favicon-48x48.png">
<link rel="icon" type="image/png" sizes="60x60" href="/img/favicon-60x60.png">
<link rel="icon" type="image/png" sizes="192x192" href="/img/favicon-192x192.png">
<link rel="icon" type="image/png" sizes="200x200" href="/img/favicon-200x200.png">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/img/apple-touch-icon-180x180.png">
<link rel="manifest" href="/img/manifest.json">

<!-- Disable robots indexing -->
{{/*  <meta name="robots" content="noindex, nofollow">  */}}
<style>
  html {
    visibility: hidden;
  }
</style>
<script>
  (function setTheme() {
    let themeSelected = localStorage.getItem('theme')
    if (!themeSelected) {
        themeSelected = 'light'
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
            themeSelected = 'dark'
        }
    }
    if (themeSelected == 'dark') {
        document.documentElement.setAttribute('data-theme', 'dark');
    } else {
        document.documentElement.setAttribute('data-theme', 'light');
    }

    localStorage.setItem('theme', themeSelected)
    document.documentElement.style.visibility = 'visible';
  })()
</script>
