<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="nav-container">
          <a class="nav-logo" title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">
            {{ $image := resources.Get "img/logo_white.svg" }}
            <img class="" src="{{ $image.Permalink }}" alt="{{ .Site.Title }}" />
          </a>
          <span class="nav-subtitle">
            Transparency to Sustain Open Science Infrastucture
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>
