{{ define "main" }}
  <link rel="stylesheet" href="{{ "reveal/dist/reveal.css" | absURL }}">
  <link rel="stylesheet" href="{{ "reveal/dist/theme/simple.css" | absURL }}" id="theme">
  <div class="reveal">
    <div class="slides">
      <section  data-markdown
                data-separator="^---"
                data-separator-vertical="\r?\n----\r?\n"
                data-separator-notes="^Note:"
                data-charset="iso-8859-15">
        {{ .RawContent }}
      </section>
    </div>
  </div>

  <script src="{{ "reveal/dist/reveal.js" | relURL }}"></script>
  <script src="{{ "reveal/plugin/markdown/markdown.js" | relURL }}"></script>
  <script>
    Reveal.initialize({
      controls: true,
      progress: true,
      slideNumber: true,
      history: false,
      center: true,
      hash: true,
      embedded: true,
      plugins: [RevealMarkdown],
      transition: 'slide' // You can set transitions: 'none', 'fade', 'slide', 'convex', 'concave', 'zoom'
    });
  </script>
{{ end }}